<!-- Topbar  -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <div class="navbar-header text-left">
    <a class="navbar-brand" href="/">OpenGisCRM</a>
  </div>



  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

   <!-- Nav Item - User Information -->
   <li class="nav-item">
    <a class="nav-link" href="/login">
      <span class="mr-2 d-none d-lg-inline text-gray-600 small">Login</span>             
    </a>

  </li>


</ul>


</nav>
        <!-- End of Topbar